<h1>Create Banner</h1>

<div ng-repeat="file in selectedFiles">
  {{file.name}}
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress[$index]}}%;">
      {{progress[$index]}}% 
    </div>
  </div>
</div>

<form role="form">
  <div class="form-group">
    <label for="name">Client Name</label>
    <input type="name" ng-model="banner.name" class="form-control" placeholder="Enter client name">
  </div>

  <div class="form-group">
    <div class="btn btn-primary" ng-file-select="onFileSelect($files)" data-multiple="true">
      <span class="glyphicon glyphicon-plus"></span> 
      Upload Files
    </div>
  </div>

  <div ng-show="banner.files != null">
    <h2>Files</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>  
          <th>Filename</th>  
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in banner.files">
          <td>    
            <input type="text" ng-model="file.title" class="form-control" />
          </td>
          <td>{{file.filename}}</td>    
        </tr>
      </tbody>
  </table>
  </div>

  <button type="button" class="btn btn-success" ng-show="banner.id === 0" ng-click="save()">Save</button>
  <button type="button" class="btn btn-success" ng-show="banner.id !== 0" ng-click="update()">Update</button>
</form>
