<h1>
  Banners
  <a class="btn btn-primary" href="#/banners_create"><span class="glyphicon glyphicon-plus"></span> Add Banner</a>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, banner) in banners">
      <td>
        <a href="#/banners_edit/{{key}}">
          {{banner.name}}
        </a>
      </td>

      <td>
        <a class="btn btn-primary" href="#/banners_preview/{{key}}">
          Preview
        </a>

        <a class="btn btn-danger" ng-click="remove(key)">
          Delete
        </a>

      </td>
    </tr>
  </tbody>
</table>
