<h1>Create Banner</h1>

<div ng-repeat="file in selectedFiles">
  {{file.name}}
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress[$index]}}%;">
      {{progress[$index]}}% 
    </div>
  </div>
</div>

<form role="form">
  <div class="form-group">
    <label for="name">Client Name</label>
    <input type="name" ng-model="banner.name" class="form-control" placeholder="Enter client name">
  </div>

  <button type="button" class="btn btn-success" ng-click="save()">Save</button>
</form>
